body {
    background-color: rgb(47, 98, 98);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    width: 360px;
    padding: 33px;
    text-align: center;
    background-color: white;
    margin-left: 33%;
    margin-top: 5px;
}

input {
    width: 270px;
    padding: 8px;
    border: 2px solid aqua;
    outline: none;
}

button {
    width: 60px;
    height: 41%;
    background-color: rgb(17, 15, 15);
    color: white;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 2px;
    font-size: 19px;
}

.text ul {
    position: relative;
    background-color: rgb(32, 103, 103);
    color: white;
    font-size: 19px;
    text-align: left;
    padding: 7px;

}

.text ul i {
    position: absolute;
    right: 10px;
    cursor: pointer;

}